// BootStrap color overrides
$primary: #4766B0;
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap');


// Internal color variables
$red: #dc3545;
$text-white: #fff;